/* Common */
*,
::after,
::before{
    box-sizing: border-box;
}

body{
    margin: 0;
}

body *{
    font-family: 'Saira', sans-serif;
}

header,
footer{
    background-color: #696969;
    color: #E8E8E8;
}

h2{
    margin: 0;
    font-family: 'Saira Stencil One', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;

}
h3{
    margin: 0;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
}

p{
    margin: 0;
}

.body{
    display: grid;
    grid-template-rows: 42px auto 42px;
    height: 100vh;
}

.main{
    display: flex;
}

.main > div {
    padding: 10px;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid #C4C4C4;
    width: 55%;
}

.right-side{
    width: 45%;
    padding: 10px;
}

/* Header */
header{
    padding: 4px 16px 4px 16px;
}

/* Bikes */
.item{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    border-radius: 0.625rem;
    border: 2px solid #6FCF97;
    background: #E8E8E8;
    padding: 10px;
}

.item.busy{
    border: 2px solid #F2994A;
}

.item.unavailable{
    opacity: 0.5;
    border: 2px solid #EB5757;
}

.item-left-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.375rem;
}

.item-right-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.375rem;
}

.label-block{
    display: flex;
    align-items: center;
    gap: 0.375rem;
    color: #333333;
    font-size: 0.875rem;
}

.label-block .name{
    font-weight: 700;
}

.id-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #717171;
    font-size: 0.5rem;
}

.status-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.125rem;
}

.status-block *{
    color: #333333;
    font-size: 0.875rem;
}

.remove-btn{
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.remove-btn:hover path{
    stroke: red;
}

.price-block{
    color: #000;
    font-size: 1.5rem;
}

/* Form */
.form-block{
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 0.625rem;
}
.form-block form{
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 5px));
    gap: 0.625rem;
}

.form-block textarea{
    grid-column: span 2;
}

.form-control{
    border: 0;
    border-radius: 0.3125rem;
    background: #E8E8E8;
    padding: 0.3125rem 1rem;
    font-size: 0.75rem;
}

.form-block button{
    border: 0;
    border-radius: 0.3125rem;
    background: #696969;
    padding: 0.25rem 1.375rem;

    color: #FFF;
    text-align: center;
    font-size: 0.875rem;
}

/* Statistics */
.statistics-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3125rem;
    padding: 0.625rem;
}

.stats-key{
    font-size: 0.875rem;
}
.stats-value{
    font-size: 0.875rem;
    font-weight: 700;
}

/* Footer */
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.625rem;
    padding: 10px;
    color: #FFF;
    font-size: 1.25rem;
}

footer .dev-label{
    color: #CBCACA;
}

